@charset "ISO-8859-1";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #1b3058;
    color: #fff;
    padding: 5px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9800; 
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 40px;
    margin-right: 5px;
}

.user-actions .btn {
    background-color: #f1c40f;
    color: #004080;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

.main {
    padding: 20px;
}

.privacy-policy {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.privacy-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

/* Footer */
footer {
    background-color: #1b3058;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: auto; 
}

footer a {
    color: #ff9800;
}

footer a:hover {
    text-decoration: underline;
}